---
import Layout from '../layouts/Layout.astro';
import teaser from '../assets/teaser2025.mp4'
---

<Layout>
	<h1 class="text-5xl md:text-7xl font-bold uppercase tracking-tighter">Explo Saison 2025/2026</h1>
	<video src={teaser} autoplay muted loop></video>

	<h1 class="text-2xl font-bold flex items-center gap-2">
		<svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-7"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
		Trouver des séances
	</h1>
	<section class="border-4 border-slate-800">
		<div class="max-w-7xl mx-auto px-4">
			<div class="grid gap-8 grid-cols-3 py-4">
				<div class="space-y-2">
					<label for="film" class="text-sm font-bold uppercase block">Film</label>
					<select name="film" id="film" class="block border-b border-slate-800 w-full">
						<option value="">Tous</option>
					</select>  
				</div>
				<div class="space-y-2">
					<label for="ville" class="text-sm font-bold uppercase block">Ville</label>
					<select name="ville" id="ville" class="block border-b border-slate-800 w-full">
						<option value="">Toutes</option>
					</select>  
				</div>
				<div class="space-y-2">
					<label for="date" class="text-sm font-bold uppercase block">Date</label>
					<select name="date" id="date" class="block border-b border-slate-800 w-full">
						<option value="">Toutes</option>
					</select>  
				</div>
			</div>
		</div>
	</section>

</Layout>
