---
import Films from '../components/Films.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-4xl uppercase font-black">Saison 2025-2026</h1>
	<hr>
	<Films />
</Layout>
