---
import "../styles/global.css";
import Logo from '../assets/logo.svg';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Exploration du Monde</title>
	</head>
	<body class="max-w-7xl mx-auto p-4 space-y-8">
		<header>
			<a href="/"><Logo class="max-h-16 w-auto" /></a>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			Footer
		</footer>
	</body>
</html>
