---
import "../styles/global.css";
import Logo from '../assets/logo.svg';
const { pathname } = Astro.url;
const response = await fetch("https://explorationdumonde.be/api/films/2025");
const films = await response.json();
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Exploration du Monde</title>
	</head>
	<body class="text-slate-800 bg-slate-100">
		<div class="max-w-7xl mx-auto p-4 grid grid-cols-1 md:grid-cols-3 gap-y-4">
			<div class="space-y-8 md:pr-4">
				<a href="/" class="block"><Logo class="max-w-full" /></a>
				<div class="space-y-4">
					<h2 class="text-2xl font-bold flex items-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="size-7"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6a6 6 0 1 1 -6 6l.004 -.225a6 6 0 0 1 5.996 -5.775m0 4a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m3.9 9.11a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m3.14 -2.5a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m1.73 -3.61a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m0 -4a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m-1.73 -3.61a1 1 0 0 1 1 1a1 1 0 1 1 -2 .01c0 -.562 .448 -1.01 1 -1.01m-3.14 -2.5a1 1 0 0 1 1 1a1 1 0 1 1 -2 .01c0 -.562 .448 -1.01 1 -1.01m-3.9 -.89a1 1 0 0 1 1 1a1 1 0 1 1 -2 .01c0 -.562 .448 -1.01 1 -1.01m-3.9 .89a1 1 0 0 1 1 1a1 1 0 1 1 -2 .01c0 -.562 .448 -1.01 1 -1.01m-3.14 2.5a1 1 0 0 1 1 1a1 1 0 1 1 -2 .01c0 -.562 .448 -1.01 1 -1.01m-1.73 3.61a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m0 4a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m1.73 3.61a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m3.14 2.5a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1m3.9 .89a1 1 0 0 1 .993 .883l.007 .127a1 1 0 0 1 -1.993 .117l-.007 -.127a1 1 0 0 1 1 -1" /></svg>
						Le Grand Cycle
					</h2>
					<div>
						{ films.map((film) => <div class:list={film.cycle === 'grand' ? 'hover:bg-slate-200' : 'hidden'} class="py-1 border-b border-slate-800"><a href="">{film.title}</a></div>)}
					</div>
					<h2 class="text-2xl font-bold flex items-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-7"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 16l2 -6l6 -2l-2 6l-6 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 3l0 2" /><path d="M12 19l0 2" /><path d="M3 12l2 0" /><path d="M19 12l2 0" /></svg>
						Le Cycle Découverte
					</h2>
					<div>
						{ films.map((film) => <div class:list={film.cycle === 'découverte' ? 'hover:bg-slate-200' : 'hidden'} class="py-1 border-b border-slate-800"><a href="">{film.title}</a></div>)}
					</div>
				</div>
			</div>
			<div class="md:col-span-2 md:border-l border-slate-800 md:pl-4 space-y-4">
				<header class="flex items-center justify-end border-b border-slate-800 uppercase font-bold whitespace-nowrap overflow-auto text-sm sm:text-base">
					<a href="/" class:list={ pathname === '/' ? 'bg-slate-800 text-white' : 'hover:bg-slate-200'} class="py-1 px-4">Home</a>
					<a href="/films" class:list={ pathname === '/films' ? 'bg-slate-800 text-white' : 'hover:bg-slate-200'} class="py-1 px-4">Les films</a>
					<a href="/agenda" class:list={ pathname === '/agenda' ? 'bg-slate-800 text-white' : 'hover:bg-slate-200'} class="py-1 px-4">Agenda</a>
					<a href="/apropos" class:list={ pathname === '/apropos' ? 'bg-slate-800 text-white' : 'hover:bg-slate-200'} class="py-1 px-4">A propos</a>
					<a href="/contact" class:list={ pathname === '/contact' ? 'bg-slate-800 text-white' : 'bg-slate-200'} class="py-1 px-4">Contact</a>
				</header>
				<main class="space-y-4">
					<slot />
				</main>
			</div>
		</div>
		<footer></footer>
	</body>
</html>
